<form class="form-group" #f="ngForm">
    <input class="form-control" type="text" name="username" ngModel placeholder="Username" required />
    <input class="form-control" type="password" name="password" ngModel placeholder="Password" required />
    <input class="form-control" type="email" name="email" ngModel placeholder="Email" required />
    <input class="form-control" type="text" name="phone" ngModel placeholder="Phone" required />
    <input class="btn btn-success" type="submit" name="submit" value="Sign Up" [disabled]="!f.valid"/>
</form>


<hr />

<p class="lead text-center">If You have an Acoount Go To Login : </p>
<button class="btn btn-primary" (click)="goToLoginPage()">Login</button>